name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            cd /srv/bots/nerdinzzz-bot

            cat > .env <<EOF
            ADMIN_ID=${{ secrets.ADMIN_ID }}
            BOT_TOKEN=${{ secrets.BOT_TOKEN }}
            BOT_USERNAME=${{ secrets.BOT_USERNAME }}
            ENV=${{ secrets.ENV }}
            GRAFANA_ADMIN_PW=${{ secrets.GRAFANA_ADMIN_PW }}
            LLM_TOKEN=${{ secrets.LLM_TOKEN }}
            STT_TOKEN=${{ secrets.STT_TOKEN }}
            EOF

            git fetch origin
            git reset --hard origin/main
            docker compose build
            docker compose up -d --remove-orphans